.container{
   padding:  0 10rem;
  color: var(--blue-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  line-height: 2.5rem; 


  a{
    color: var(--blue-100);
    transition: 0.5s;
    margin-top: 2rem;
    padding: 1rem 3rem;  
    border-radius: 50px;
    border: 1px solid var(--blue-100);
 
    &:hover{
      background-color: var(--blue-200);
      color: var(--white);      
      font-weight: bold;
    }
  }

  header{
    margin: 5rem 0;
  }
}
 
  .item-service{
    margin: 3rem 0;
     display: flex;
    align-items: center;
 
    div{
       margin-left: 2rem;
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      
     }
 
    h3{
       margin-bottom: 2rem;
    }
    
  }

  .item-service-link-right{
    margin: 3rem 0;
     display: flex;
    align-items: center;

    a{
      margin-left: auto;
    }
 
    div{
       margin-left: 2rem;
      display: flex;
      flex-direction:column;
      align-items: flex-start;
      
     }
 
    h3{
       margin-bottom: 2rem;
    }
    
  }