.container{
  padding: 1rem;
  color: var(--blue-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem; 
  a{
    color: var(--blue-100);
    transition: 0.5s;
    margin-top: 2rem;
    padding: 0.5rem 4rem;  
    border-radius: 50px;
    border: 1px solid var(--blue-100);
 
    &:hover{
      background-color: var(--blue-200);
      color: var(--white);      
      font-weight: bold;
    }
  }

  header{
    margin: 1rem 0;
    h1{
      font-size: var(--sm-h1)
    }
  }
}
 
  .item-service{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:2rem 5rem;
    gap: 1rem;
    border-bottom: solid 1px var(--blue-300);

    >div{
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content:center;

    }

    img{
      width: 16rem;
    }

    h2{
      line-height: 4rem; 
      text-align:center;
      text-transform: capitalize;

      font-size: var(--sm-h2);
      color: red;
    }

    p{
      margin-top: 1.6rem;
      padding: 0 2rem;
      text-align: justify;
      font-size: var(--sm-fs);

    }

    @media (min-width: 481px){
      h2{
        font-size: var(--md-h2);
        padding-bottom: 2rem;
      }

      p{
        font-size: var(--md-fs);

      }
    }


    @media (min-width: 769px){
      display: flex;
      flex-direction: row;
      border-bottom: none;
      margin-top: 5rem;

      img{
        width: 30rem;
       }

      >div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  
        h2{
          font-size: var(--lg-h2);
          text-align: left;
         }      

        p{
          font-size: var(--lg-fs);
          padding: 0;
          display: block;
         }
      }
 
 

   
    }    
  }



 