.container{ 
  z-index: 9999;
  opacity: 0.9;
  position: fixed;
  padding: 1rem;
  background: var(--blue-300);
  max-height: 5rem;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
 

  @media screen and (min-width: 800px) {
    nav{
    display: block;
    color: var(--white);
    margin-left: auto;  
   li{
     display: inline;
     margin-right: 2rem;
   } 
 
 }
    
  } 
}

 
 